---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyDAwrxNaQyqZmcYZD_x2C4vscRrlwWTRas&maxResults=1&order=rating&part=snippet&q=thailand&safeSearch=strict&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "Z-e4awW0RjOQTDEnSGRuUeY_Gcs",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "NFwReidvzJVeYTZvZs6SR1m8DIo",
              "id": {
                "kind": "youtube#video",
                "videoId": "NDf33fhwNko"
              },
              "snippet": {
                "publishedAt": "2023-03-14T10:42:06Z",
                "channelId": "UCoiCnYFpCc8IvRJEuoIg_wQ",
                "title": "The Living Hell? Gastarbeiter in Thailand",
                "description": "An die 4 Millionen Gast- oder Fremdarbeiter aus den Ländern Burma (Myanmar), Laos und Kambodscha sind in Thailand ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/NDf33fhwNko/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/NDf33fhwNko/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/NDf33fhwNko/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Siam Rider",
                "liveBroadcastContent": "none",
                "publishTime": "2023-03-14T10:42:06Z"
              }
            }
          ]
        }
  recorded_at: Fri, 17 Mar 2023 18:01:12 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Gq4m9zFQJg7LENZhJbeel9halsqwNURm3GsF6vbeK7K65U4F3nvSRDtn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8176c5c3155751f2ace0e66d92f55b4c"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24984'
      X-Ratelimit-Reset:
      - '1681663842'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":3393546,"width":3573,"height":5360,"url":"https://www.pexels.com/photo/man-standing-outside-a-prayer-temple-3393546/","photographer":"Nick
        Wehrli","photographer_url":"https://www.pexels.com/@oidonnyboy","photographer_id":1803654,"avg_color":"#958478","src":{"original":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg","large2x":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Man
        Standing Outside a Prayer Temple"},{"id":3732494,"width":4960,"height":3272,"url":"https://www.pexels.com/photo/boats-on-seashore-3732494/","photographer":"Erik
        Karits","photographer_url":"https://www.pexels.com/@erik-karits-2093459","photographer_id":2093459,"avg_color":"#7A7466","src":{"original":"https://images.pexels.com/photos/3732494/pexels-photo-3732494.jpeg","large2x":"https://images.pexels.com/photos/3732494/pexels-photo-3732494.jpeg?auto=compress\u0026cs=tinysrgb\u[...]
