---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyDAwrxNaQyqZmcYZD_x2C4vscRrlwWTRas&maxResults=1&order=rating&part=snippet&q=jlkjlkjlkasdfalskdjf&safeSearch=strict&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Fri, 17 Mar 2023 19:24:08 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=jlkjlkjlkasdfalskdjf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Gq4m9zFQJg7LENZhJbeel9halsqwNURm3GsF6vbeK7K65U4F3nvSRDtn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb3585f53d361d87a93bc28342a022b"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24971'
      X-Ratelimit-Reset:
      - '1681663842'
      X-Server:
      - barracuda
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[],"total_results":0}'
  recorded_at: Fri, 17 Mar 2023 19:24:08 GMT
recorded_with: VCR 6.1.0
