---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyDAwrxNaQyqZmcYZD_x2C4vscRrlwWTRas&maxResults=1&order=rating&part=snippet&q=laos&safeSearch=strict&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"d6AOiq2DjoCSZ-jmlgToLPO53ik\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"w94SEMfGSR6S9HtcGvc3kAx_G8I\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"jY-uTq1NtuQ\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2023-01-06T13:00:25Z\",\n        \"channelId\": \"UCRatFUBKehnJOBtrG6umGyg\",\n
        \       \"title\": \"Laos \U0001F1F1\U0001F1E6 • Teil 2 • Der Mekong und der
        Wasserfall \U0001F3DE️ • Weltreise Vlog #11\",\n        \"description\": \"Im
        zweiten Teil unserer Laos-Reise fuhren wir von Muang Ngoy nach Luang Prabang
        - der ehemaligen Hauptstadt direkt am ...\",\n        \"thumbnails\": {\n
        \         \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/jY-uTq1NtuQ/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/jY-uTq1NtuQ/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/jY-uTq1NtuQ/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Denise & Matze • Kokoskompass\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2023-01-06T13:00:25Z\"\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Fri, 17 Mar 2023 18:08:17 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Gq4m9zFQJg7LENZhJbeel9halsqwNURm3GsF6vbeK7K65U4F3nvSRDtn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e8c297096cc4c5d27259cd2569f38da"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24981'
      X-Ratelimit-Reset:
      - '1681663842'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":924631,"width":5184,"height":3456,"url":"https://www.pexels.com/photo/stone-castle-wall-surrounded-with-green-grass-924631/","photographer":"Suraphat
        Nuea-on","photographer_url":"https://www.pexels.com/@suraphat","photographer_id":327013,"avg_color":"#9F9F8F","src":{"original":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg","large2x":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/924631/pexels-photo-924631.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Stone
        Castle Wall Surrounded With Green Grass"},{"id":1385474,"width":5000,"height":3750,"url":"https://www.pexels.com/photo/photo-of-waterfalls-1385474/","photographer":"Simon
        Berger","photographer_url":"https://www.pexels.com/@8moments","photographer_id":181980,"avg_color":"#4E5142","src":{"original":"https://images.pexels.com/photos/1385474/pexels-photo-1385474.jpeg","large2x":"https://images.pexels.com/photos/1385474/pexels-photo-1385474.jpeg?auto=compress\u0026cs=tinysrgb\u[...]
