---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=20d03121&app_key=93cc2a9f5237ddadb5167b54a212e19e&q=jlaksjedlfkajsldkfjalskdjflaksjdf&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Thu, 16 Mar 2023 21:49:45 GMT
recorded_with: VCR 6.1.0
