---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyDAwrxNaQyqZmcYZD_x2C4vscRrlwWTRas&maxResults=1&order=rating&part=snippet&q=switzerland&safeSearch=strict&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"NvzUoum8fLqXZ6_tBDwYu0SrsFU\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"j8t_oGYMXztgfuvC5lXWc6dVGMc\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"S2zQ1peO6uw\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2023-03-17T12:19:06Z\",\n        \"channelId\": \"UCv4DJy32vWu-MJ4PhkxhAHA\",\n
        \       \"title\": \"Pahalgam, Kashmir ❤ | Day 5 | Kashmir in February | Betaab
        Valley | Mini Switzerland of India \U0001F60D |\",\n        \"description\":
        \"Hi Friends, We went to Kashmir in the month of February and it was one beautiful
        trip! We have divided our vlogs in 6 parts. This is ...\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/S2zQ1peO6uw/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/S2zQ1peO6uw/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/S2zQ1peO6uw/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Your Baniya Buddy\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2023-03-17T12:19:06Z\"\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Fri, 17 Mar 2023 17:57:55 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=switzerland
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Gq4m9zFQJg7LENZhJbeel9halsqwNURm3GsF6vbeK7K65U4F3nvSRDtn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"051771a2879fb8f1aa30534bc8e14714"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24986'
      X-Ratelimit-Reset:
      - '1681663842'
      X-Server:
      - anteater
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":1586298,"width":3520,"height":4400,"url":"https://www.pexels.com/photo/brown-wooden-house-and-mountain-reflecting-on-lake-1586298/","photographer":"Ricardo
        Esquivel","photographer_url":"https://www.pexels.com/@rickyrecap","photographer_id":722822,"avg_color":"#577E8A","src":{"original":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg","large2x":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Brown
        Wooden House and Mountain Reflecting on Lake"},{"id":773471,"width":5132,"height":3421,"url":"https://www.pexels.com/photo/train-passing-773471/","photographer":"H.
        Emre","photographer_url":"https://www.pexels.com/@hebaysal","photographer_id":111534,"avg_color":"#615C56","src":{"original":"https://images.pexels.com/photos/773471/pexels-photo-773471.jpeg","large2x":"https://images.pexels.com/photos/773471/pexels-photo-773471.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0[...]
