---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Gq4m9zFQJg7LENZhJbeel9halsqwNURm3GsF6vbeK7K65U4F3nvSRDtn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76bd74655872ce9383ea80683609c12a"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24991'
      X-Ratelimit-Reset:
      - '1681663842'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":11259542,"width":4160,"height":6240,"url":"https://www.pexels.com/photo/a-moving-train-on-a-snow-covered-ground-near-the-snow-covered-trees-and-mountains-11259542/","photographer":"ConfinedRiley","photographer_url":"https://www.pexels.com/@confinedriley","photographer_id":1734975,"avg_color":"#A3ABB6","src":{"original":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg","large2x":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/11259542/pexels-photo-11259542.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"A
        Moving Train on a Snow Covered Ground Near the Snow Covered Trees and Mountains"},{"id":11449484,"width":3886,"height":5880,"url":"https://www.pexels.com/photo/vancouver-city-on-a-foggy-morning-11449484/","photographer":"Khantushig
        Khosbayar","photographer_url":"https://www.pexels.com/@khantushig-khosbayar-194759130","photographer_id":194759130,"avg_color":"#293C4A","src":{"original":"https://images.pexels.com/photos/11449484/pexels-photo-11449484.jpeg","large2x":"https://imag[...]
