---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyDAwrxNaQyqZmcYZD_x2C4vscRrlwWTRas&maxResults=1&order=rating&part=snippet&q=thailand&safeSearch=strict&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "Z-e4awW0RjOQTDEnSGRuUeY_Gcs",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "NFwReidvzJVeYTZvZs6SR1m8DIo",
              "id": {
                "kind": "youtube#video",
                "videoId": "NDf33fhwNko"
              },
              "snippet": {
                "publishedAt": "2023-03-14T10:42:06Z",
                "channelId": "UCoiCnYFpCc8IvRJEuoIg_wQ",
                "title": "The Living Hell? Gastarbeiter in Thailand",
                "description": "An die 4 Millionen Gast- oder Fremdarbeiter aus den Ländern Burma (Myanmar), Laos und Kambodscha sind in Thailand ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/NDf33fhwNko/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/NDf33fhwNko/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/NDf33fhwNko/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Siam Rider",
                "liveBroadcastContent": "none",
                "publishTime": "2023-03-14T10:42:06Z"
              }
            }
          ]
        }
  recorded_at: Fri, 17 Mar 2023 16:27:16 GMT
recorded_with: VCR 6.1.0
